.page-links {
    color: white;
    font-weight: 700;
    padding: 1rem;
    transition: all 0.25s;
}

.paginations {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style-type: none;
    text-align: center;
}

.paginations a {
    text-decoration: none !important;
}

.page-links-active {
    border-bottom: 2px solid rgba(233, 47, 63, 0.932);
    padding-bottom: 0.5rem;
    color: #fefefe;
    align-items: center;
}

@media screen  and (max-width: 60rem) {
    .paginations {
        gap: 0.5rem;
    }

    .page-links {
        padding: 0.5rem;
    }
}