.carousel-container{
    overflow: hidden;
    height: 27rem;
}

.slide-margin{
    margin-top: 1.5rem;
}

.slide-title{
    margin-left: 1rem;
    margin-bottom: -1.75rem;
}

.react-multi-carousel-track li {
	width: 14.5rem !important;
}

@media screen and (max-width: 60rem) {
    .carousel-container{
        height: 25.5rem;
    }
    
    .slide-margin{
        margin-top: 0rem;
    }
}