.movie-card-area {
    display: flex;
    justify-content: center;
    margin: 1rem 0rem;
}

.movie-card-area div {
    width: 16rem;
    height: 24rem;
}

.movie-card-area div:hover {
    transform: scale(1);
}

.page-links {
    color: white;
    font-weight: 700;
    padding: 1rem;
    transition: all 0.25s;
}

.paginations {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style-type: none;
    text-align: center;
}

.paginations a {
    text-decoration: none !important;
}

.page-links-active {
    border-bottom: 2px solid rgba(233, 47, 63, 0.932);
    padding-bottom: 0.5rem;
    color: #fefefe;
    align-items: center;
}

@media screen  and (max-width: 60rem) {
    .movie-card-area div {
        width: 100%;
        height: 150vw;
    }
}